*{
	margin: 0px;
}

#popingmenu{
	margin: initial;
	padding: initial;
	color: initial;
	text-align: initial;
	font-family: initial;
	font-size: initial;

	position: absolute;

	margin: 0px;
	padding:0px;
	outline: 0;

	display: none;
	/*background: rgb(10, 20, 60);
	background: rgba(10, 20, 60, .6);
	color:white;
	border-radius:5px;
	margin: 5px;
	padding:5px;*/
	
}

#popingmenu br{
	display:none; 
}

#popingmenu ul{
	padding: 0;
	list-style: none;
}

#popingmenu ul li{
	/*float: left;*/ /*horizontal alignment*/
	/*width: 100px;*/
	/*width: auto !important;*/
	width: 120px;
	text-align: center;

	/**/
	margin: 0px 0px;
	/**/
}

/**/
#menu li.firstitem, a.firstitem {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
/**/

/**/
#menu li.lastitem, a.lastitem {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
/**/

/**/
#popingmenu ul li:hover {
	position: relative;
	/*background-color: #6CC;
	color: #000;*/
	color: orange;
	font-weight: bold;
}
/**/



#popingmenu ul li a{
	display: block;
	padding: 5px 10px;
	/*color: #333;
	background: #f2f2f2;*/
	background: rgb(10, 20, 60);
	background: rgba(10, 20, 60, .6);
	color:white;
	text-decoration: none;
}

#popingmenu ul li a:hover{
	/*color: #fff;
	background: #939393;*/
	color: orange;
	font-weight: bold;
}

#popingmenu ul li ul{
	display: none;
}

#popingmenu ul li:hover ul{
	display: block; /* display the dropdown */

	/**/
	position: absolute;
	left: 100px;
	top:-1px!important;
	/*top: -30px;*/
	/**/

	/**/
	left: 108px;
	/**/
}
