.stationsindex{
    margin:2em 8em;
}

.stationsindex h2{
	font-weight: bold;
    font-family: 'Questrial', arial, sans-serif;
    color: #7BC143;
}

.stationitem{
	position: relative;
	width: 300px;
	min-height: 200px !important;
	height: auto;
	background-color: #7BC143;
	color: #000000;
	border-radius: 10px;
	cursor:pointer;
	text-align: left;
	font-weight: bold;
}

.stationheader{
	position: relative;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #BCE954;
	padding: 10px;
	font-height: 20px;
}

.stationitem:hover{
}

.stationitem a {
    color: #000000;
    text-decoration: none;
    position: absolute;
    width: 100%;
    /*height: 100%;*/
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: transparent; /* Fix to make div clickable in IE */
    padding-top: 20%;
    padding-left: 10px;
    font-height: 25px;
}

.trailindex
{
     margin:2em 8em;
}

.trailview
{
    margin: 4em 8em;
}

.trailindex h2{
    font-weight: bold;
    font-family: 'Questrial', arial, sans-serif;
    color: #7BC143;
}

.trailitem{
	position: relative;
	width: 200px;
	min-height: 200px !important;
	height: auto;
	background-color: #7BC143;
	color: #000000;
	border-radius: 10px;
	cursor:pointer;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}

.trailheader{
	position: relative;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #BCE954;
	/*width: 100%;
	height: 20%;*/
	padding: 10px;
	font-height: 18px;
}

.trailitem:hover{
}

.trailitem a {
    color: #000000;
    text-decoration: none;
    position: absolute;
    width: 100%;
    /*height: 100%;*/
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: transparent; /* Fix to make div clickable in IE */
    padding-top: 20%;
    padding-left: 10px;
    padding-bottom: 20%;
    font-height: 23px;
}

.trailitem img {
	width: 90%;
	height:50%;
}

.stationsindex table, .stationsindex td{
	background: none repeat scroll 0% 0% transparent;
	/*background:initial;*/
}

#liststations > tr > td {
  background: none repeat scroll 0% 0% transparent;
}


.editbutton{
	position:relative;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	/*background: url('/senderos/app/webroot/css/pencil.gif');*/
    background: url('/senderos/app/webroot/css/pen.png');
	background-size: 30px 30px;
    background-repeat: no-repeat;
    /*content: "edit this item";*/
    display: inline-block;
}

.deletebutton{
	position:relative;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	/*background: url('/senderos/app/webroot/css/trash.gif');*/
    background: url('/senderos/app/webroot/css/delete.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    /*content: "edit this item";*/
    display: inline-block;
}

.editbutton a, .deletebutton a, .addbutton a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: transparent; /* Fix to make div clickable in IE */
}

.newitem{
	position: absolute;
    font-weight: bold;
    font-size: 90%;
}

.addbutton{
	position:relative;
	width: 40px;
	height: 40px;
	border-radius: 0%;
	/*background: url('/senderos/app/webroot/css/add.gif');*/
    background: url('/senderos/app/webroot/css/add.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
}
